@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hovis Limited<br />
    High Wycombe, HP12 3QS<br />
    <abbr title="Phone">P:</abbr>
    01494 428000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andy.taylor@hovis.co.uk">andy.taylor@hovis.co.uk</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>