@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrap app-home">
    </br>
   
    <div class="row">
        <div class="col-md-offset-3 col-md-7">
            <section class="panel">
                <div class="panel-body" style="min-height: 250px">
                    <div class="text-center">
                        <img src="/Content/img/staff.png" alt="TOPS" width="200" />
                    </div>
                    </br>
                    <div class="table-responsive">
                        <table class="table" data-sortable="" data-sortable-initialized="true">
                            <tr>
                                <th>
                                    Site
                                </th>
                                <th>
                                    Last Submitted
                                </th>
                            </tr>
                            @foreach (var Item in (ViewData["SubmitDetails"] as List<StaffShifts.ViewModels.LastDateViewModel>))
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem =>@Item.Site)
                                    </th>
                                    <th>
                                        @String.Format("{0:d}", Item.LastDate)
                                    </th>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
